*{
    box-sizing: border-box;
}
.customContainer
{
    margin: 0 100px;
}

.initGame{
    display:none;
}

.active
{
    display: block;
}

.letterBox, .letterBoxSpace
{
    border: 1px solid;
    width: 100px;
    height: 100px;
    /* font-size: 50px; */
    font-size: 0px;
    text-align: center;
}

.letterBoxSpace
{
    border: none;
}

.letterFound
{
    font-size: 50px;
    background: gray;
}

.alphabetBox
{
    border-radius: 5px;
    border: 1px solid;
    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: center;
}

.alphabetBox:hover{
    cursor: pointer;
    background: gray;

}

.clicked
{
    background: gray;
    color: white;
}

.finishGame
{
    background: greenyellow;
    color: red;
}
